.road {
  transform-style: preserve-3d;
}

.road::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: linear-gradient(
    90deg,
    #fff,
    #fff 50%,
    transparent 50%,
    transparent 100%
  );
  background-size: 50px;
  transform: rotate(-10deg);
  animation: road_animate 0.1125s infinite;
}

@keyframes road_animate {
  0% {
    background-position: 50px 0;
  }
  100% {
    background-position: 0px 0;
  }
}

.car {
  box-shadow: -10px 10px rgba(0, 0, 0, 0.15);
  transform-style: preserve-3d;
  perspective: 800px;
}

.car::before {
  content: '';
  position: absolute;
  top: 10%;
  height: 15px;
  border-radius: 2px;
  background: #fc3c25;
  box-shadow: 0 1.5em #fc3c25;
}

.car::after {
  content: '';
  position: absolute;
  top: 10%;
  height: 15px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 1.4em #fff;
}

.car_light_container {
  perspective: 800px;
}

.car_light {
  border-radius: 2px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.667), transparent);
  transform-origin: left;
  transform: rotateY(-50deg);
}

.car_animate {
  animation: car_move 3s ease-in-out infinite;
}

@keyframes car_move {
  0% {
    transform: translateX(30px) translateY(20px) rotate(-10deg);
  }
  25% {
    transform: translateX(-30px) translateY(0px) rotate(-10deg);
  }
  50% {
    transform: translateX(30px) translateY(20px) rotate(-10deg);
  }
  75% {
    transform: translateX(-30px) translateY(0px) rotate(-10deg);
  }
  100% {
    transform: translateX(30px) translateY(20px) rotate(-10deg);
  }
}
